.navbar {
    padding: 10px;
    grid-column: 1/2;
    grid-row-start: 3;
    background: #535353;
}

a {
    text-decoration: none;
    color: white;
}

.navbarItem {
    text-transform: uppercase;
    padding: 10px 0;
}

.navbarItem.active {
    text-decoration: underline;
}
